<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>This is our homepage. {{ info.os }}</p>
    <!--
    <div>
        <p>Username: </p><br>
        <input type="text" name="username" value="Username"><br>
        <p>Password: </p><br>
        <input type="password" name="password" value="Password"><br>
        <button text="signin">Sign-In</button><br>
    </div>
    <div>
        <p>Username: </p><br>
        <input type="email" name="email" value="E-mail"><br>
        <p>Password: </p><br>
        <input type="password" name="password" value="Password"><br>
        <p>Confirm Password: </p><br>
        <input type="password" name="confirmpass" value="Confirm Password"><br>
        <p>Website: </p><br>
        <input type="text" name="sitename" value="Your site name"><br>
        <button>Sign-Up</button><br>
    </div>
    -->
</body>
</html>